pivot

In [1]:
import pandas as pd

In [6]:
df={"company":["google","Apple","Microsoft","Amazon"],"application":["google assistant","Hey siri","cortana","Alexa"]}

In [12]:
df["location"]=["mountain view","cupertino","redmond","seattle"]

In [13]:
d=pd.DataFrame(df)

In [14]:
d

     company       application       location
0     google  google assistant  mountain view
1      Apple          Hey siri      cupertino
2  Microsoft           cortana        redmond
3     Amazon             Alexa        seattle

In [18]:
d.pivot(index="company",columns="application",values="location")

application    Alexa   Hey siri  cortana google assistant
company
Amazon       seattle        NaN      NaN              NaN
Apple            NaN  cupertino      NaN              NaN
Microsoft        NaN        NaN  redmond              NaN
google           NaN        NaN      NaN    mountain view

In [19]:
g=d.groupby("company")

In [21]:
for i,j in g:
    print(i)
    print(j)

Amazon
  company application location
3  Amazon       Alexa  seattle
Apple
  company application   location
1   Apple    Hey siri  cupertino
Microsoft
     company application location
2  Microsoft     cortana  redmond
google
  company       application       location
0  google  google assistant  mountain view

In [22]:
g.get_group("Amazon")

  company application location
3  Amazon       Alexa  seattle