In [16]:
array=[]
n=int(input())
for i in range(n):
    array.append(int(input()))
print(array)
sum=0
for i in array:
    sum=sum+i
print(sum)

4
1
2
3
5
[1, 2, 3, 5]
11

In [2]:
n=int(input())
array=[]
for i in range(n):
    array.append(int(input()))
print(sum(array))
print(min(array))
print(reversed(array))

5
1
2
3
4
5
15
1
<list_reverseiterator object at 0x000001FA7FC7AE10>

In [4]:
print(reversed(array))

<list_reverseiterator object at 0x000001FA7FC7A2B0>

In [15]:
s="siri"
s1=" "  # or []
for i in s:
    if i not in s1:
        s1+=i
print(s1)

 sir

In [2]:
i=1
while i<7:
    print(i)
    i+=1

1
2
3
4
5
6

In [1]:
j=1
while True:
    print (j)
    j+=1
    if j==7:
        break

1
2
3
4
5
6

In [17]:
number=int(input("enter the number "))
count=0
while number>0:
    count+=1
    number=(number//10)
print(count)

enter the number 54
2

In [19]:
float(0.6+0.1-0.7)

0.0

In [1]:
a=[1,2,3,4,5,6]

In [2]:
a

[1, 2, 3, 4, 5, 6]

In [4]:
b=a.pop(5)

In [5]:
b

6

In [6]:
a

[1, 2, 3, 4, 5]

In [22]:
a.remove(max(a))
max(a)

1

In [19]:
a

[1, 2]

In [16]:
b

In [23]:
a=[1,2,3,4,5,6]
a.pop(5)
max(a)

5

In [21]:
d=[1,2,3,4,5]
d.remove(max(d))
max(d)

4

In [34]:
a=[5,7,1,3,7]
a=sorted(a,reverse=True)
print(a)

[7, 7, 5, 3, 1]

In [28]:
b=reversed(a)
print(b)

<list_reverseiterator object at 0x0000016655623860>

In [31]:
reverse=True

In [35]:
a=[1,2,3,4,5]
max(a)

5

In [36]:
min(a)

1

In [37]:
a=[1,8,3,6,0]
b=a.sort()
print(b)

None

In [38]:
fromrange=int(input())
torange=int(input())
evenlist=[]
oddlist=[]
for i in range(fromrange,torange+1):
    if i%2==0:
        evenlist.append(i)
    else:
        oddlist.append(i)
print("average of even no.s is",sum(evenlist)/len(evenlist))
print("average of odd no.s is",sum(oddlist)/len(oddlist))

1
10
average of even no.s is 6.0
average of odd no.s is 5.0

### list functions
    +`list()`
    + `max() and min()`
    + `append()`
    + `len()`
    + `sum()`
    + `sort()`
    + `sorted()`
    + `del()`
    + `pop()`
    +`remove()`

In [1]:
b={"hi","bi"}

In [2]:
b.update(["kick","good"])

In [3]:
b

{'bi', 'good', 'hi', 'kick'}

In [7]:
z={1,20,6,4,9}

In [8]:
z.update(["hi",50])

In [9]:
z

{1, 20, 4, 50, 6, 9, 'hi'}

In [2]:
a=[7,4,2,9,23]
a.sort()
b=a
print(b)

[2, 4, 7, 9, 23]

In [10]:
d={'name':'siri','age':21,'school':'kv'}

In [2]:
d

{'name': 'siri', 'age': 21, 'school': 'kv'}

In [4]:
d['name']

'siri'

In [5]:
d.keys()

dict_keys(['name', 'age', 'school'])

In [6]:
d.values()

dict_values(['siri', 21, 'kv'])

In [7]:
d.items()

dict_items([('name', 'siri'), ('age', 21), ('school', 'kv')])

In [13]:
for i in d.keys():
    print (i)

name
age
school

In [14]:
for i in d.values():
    print(i)

siri
21
kv

In [17]:
for(x,y) in d.items():
    print(x,'-',y)

name - siri
age - 21
school - kv

In [19]:
d["age"]=22

In [21]:
d

{'name': 'siri', 'age': 22, 'school': 'kv'}

In [3]:
def getChar():
    a=input()
    print(a)
getChar()

q
q

In [6]:
n=int(input("enter the range")) 
a=int(input("enter the no."))
for i in range (1,n+1):
    print(a,"x",i,"=",a*i)

enter the range10
enter the no.7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [1]:
a=int(input("enter the no."))
for i in range (1,21):
    print(a,"X",i,"=",a*i)

enter the no.5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
5 X 11 = 55
5 X 12 = 60
5 X 13 = 65
5 X 14 = 70
5 X 15 = 75
5 X 16 = 80
5 X 17 = 85
5 X 18 = 90
5 X 19 = 95
5 X 20 = 100