In [ ]:
a=list(map(int,input().split()))
for i in a:
    for j in range(1,11):
        print(i,"*",j,"=",i*j)

In [ ]:
n=int(input())
status=0
for i in range (2,n//2):
    if n%i==0:
        status=1
if status==0:
    print(n+1)
else:
    print("not prime")

In [ ]:
n=int(input())
for i in range(2,n+1):
    if(n%i==0):
        status=0
        for j in range (2,i):
            if i%j==0:
                status=1
        if status==0:
            print(i)

In [ ]:
li=list(map(int,input().split()))
l=[]
for i in li:
    if i not in l:
        l.append(i)
print(l)

In [2]:
n=input()
s=0
l=0
for i in n:
    if i==" ":
        s=s+1
    else:
        for j in i:
            l=l+1
print("no. of words",s+1)
print("no. of spaces",s)
print("no. of characters",l)
print("char with space",s+l)

hello welcome to string count
no. of words 5
no. of spaces 4
no. of characters 25
char with space 29

In [4]:
s=input()
n=""
for i in s:
    if i.isalpha():
        n=n+i
print(n)

he)#&^ll)#@@_o)#$
hello

In [11]:
s="""this is multi line 
count program"""
c=0
for i in s:
    if i=="\n":
        c=c+1
print(c+1)

2

In [18]:
s="""this is multi line 
count program"""
c=0
ss=s.splitlines()
for i in ss:
    c=c+1
print(c)

2

In [14]:
l=list(input().split())
a=0
for i in l:
    a=l.count(i)
    print("no. of ", i, a)
    for j in range(1,a):
        l.remove(i)

a a a a a b b b
no. of  a 5
no. of  b 3

In [15]:
s=input()
d={}
for i in s:
    if i in d:
        d[i]+=1
    else:
        d[i]=1
print(d)

"www.google.com"
{'"': 2, 'w': 3, '.': 2, 'g': 2, 'o': 3, 'l': 1, 'e': 1, 'c': 1, 'm': 1}

In [15]:
s=input()
b=""
for i in s:
    if i==" ":
        b=b+i
    else:
        a=ord(i)
        b=b+chr(a+1)
print(b+"!")

hi siri
ij tjsj!

In [6]:
l=[1,2,3,4,5,6,7,8]
b=l[::-1]
a=[]
for i in l:
    if i%2==0:
        a.append(i)
for i in b:
    if i not in a:
        a.append(i)
        
print(a)

[2, 4, 6, 8, 7, 5, 3, 1]

In [7]:
a=[1,2,3,4,5]
b=[5,6,7,8,9]
c=[]
for i in a:
    for j in b:
        if i==j:
            c.append(j)
print(c)

[5]

In [2]:
a=[1,2,3,5,4]
b=[2,3,7,8,6]
s1=set(a)
s2=set(b)
s=s1.intersection(s2)
print(s)

{2, 3}

In [4]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [6]:
 def s(a,b):
    c=(a,b)
    return c
print(s(10,30))

(10, 30)

In [2]:
l=[1,2,3,5,6]
l1=[i for i in l]
print(l1)

[1, 2, 3, 5, 6]

In [3]:
l=[1,2,3,4,5,6]
l1=[i**2 for i in l]
l1

[1, 4, 9, 16, 25, 36]

In [5]:
l=[1,2,3,5,6]
l1=[i for i in l if i%2==0]
print(l1)

[2, 6]

In [13]:
l=[1,2,3,"siri",'hello',5]
l1=[i for i in l if type(i)==int]
l1

[1, 2, 3, 5]

In [14]:
l=[1,2,3,"siri",'hello',5]
l1=[i for i in l if str(i).isdigit()]
l1

[1, 2, 3, 5]

In [19]:
l=['siri','rama','sita','priya','rishi','rahul']
l1=[i for i in l if i[0]=='r']
print(l1)

['rama', 'rishi', 'rahul']

In [23]:
l=['siri','rama','sita','priya','rishi','rahul']
l1=[i for i in l if i.startswith('r')]
print(l1)

['rama', 'rishi', 'rahul']

In [32]:
l=[i for i in range(0,100) if i%2==0 and i%5==0]
l

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [29]:
l=sum([i for i in range(0,100) if i%2==0 and i%5==0])
l

450

In [30]:
l=max([i for i in range(0,100) if i%2==0 and i%5==0])
l

90

In [31]:
l=min([i for i in range(0,100) if i%2==0 and i%5==0])
l

0

In [33]:
l=[i for i in range(0,100) if i%2==0 and i%5==0]
l[-2]

80

In [37]:
l=[3,6,1,9]
l2=sorted([i for i in l])
l2

[1, 3, 6, 9]

In [39]:
l=[1,2,3]
l1=[5,6,7]
l2=[(i,j) for i in l for j in l1]
l2

[(1, 5), (1, 6), (1, 7), (2, 5), (2, 6), (2, 7), (3, 5), (3, 6), (3, 7)]

In [40]:
l=[1,2,3]
l1=[5,6,7]
l2=[[i,j] for i in l for j in l1]
l2

[[1, 5], [1, 6], [1, 7], [2, 5], [2, 6], [2, 7], [3, 5], [3, 6], [3, 7]]

In [42]:
l=[1,2,3,4,5]
l1={i:i**2 for i in l}
l1

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [43]:
l=[('a',75),('b',50),('c',35),('s',100),('j',40),('r',90),('k',0),('b',10)]
l1=[i for i in l if i[1]<=35]
l1

[('c', 35), ('k', 0), ('b', 10)]

In [44]:
l=[1,2,3,4,5,6]
l1={i for i in l}
l1

{1, 2, 3, 4, 5, 6}

In [45]:
l=[1,2,3,4,5,6]
l1=(i for i in l)
l1

In [47]:
import calendar
c=calendar.month(2019,11)
print(c)

   November 2019
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30

In [48]:
import calendar
c=calendar.calendar(1997)
print(c)

                                  1997

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                      1  2
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       3  4  5  6  7  8  9
13 14 15 16 17 18 19      10 11 12 13 14 15 16      10 11 12 13 14 15 16
20 21 22 23 24 25 26      17 18 19 20 21 22 23      17 18 19 20 21 22 23
27 28 29 30 31            24 25 26 27 28            24 25 26 27 28 29 30
                                                    31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                1  2  3  4                         1
 7  8  9 10 11 12 13       5  6  7  8  9 10 11       2  3  4  5  6  7  8
14 15 16 17 18 19 20      12 13 14 15 16 17 18       9 10 11 12 13 14 15
21 22 23 24 25 26 27      19 20 21 22 23 24 25      16 17 18 19 20 21 22
28 29 30                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3       1  2  3  4  5  6  7
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       8  9 10 11 12 13 14
14 15 16 17 18 19 20      11 12 13 14 15 16 17      15 16 17 18 19 20 21
21 22 23 24 25 26 27      18 19 20 21 22 23 24      22 23 24 25 26 27 28
28 29 30 31               25 26 27 28 29 30 31      29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       8  9 10 11 12 13 14
13 14 15 16 17 18 19      10 11 12 13 14 15 16      15 16 17 18 19 20 21
20 21 22 23 24 25 26      17 18 19 20 21 22 23      22 23 24 25 26 27 28
27 28 29 30 31            24 25 26 27 28 29 30      29 30 31

In [50]:
import datetime
i=datetime.datetime.now()
print(i)

2019-11-04 11:45:18.860461

In [52]:
import datetime
i=datetime.datetime(1997,11,2)
print(i)

1997-11-02 00:00:00

In [53]:
import numpy as n
l=[1,2,3,4]
np=n.array(l)
type(np)

numpy.ndarray

In [54]:
import numpy as n
l=[1,2,3,4]
l1=[2,3,4,5]
n1=n.array(l)
n2=n.array(l1)
print(n1+n2)

[3 5 7 9]

In [56]:
import pandas as pd
l=[1,2,3,4,6]
s=pd.Series(l)
s

0    1
1    2
2    3
3    4
4    6
dtype: int64

In [57]:
import pandas as pd
l=[1,2,3,4,6]
s=pd.Series(l)
type(s)

pandas.core.series.Series

In [60]:
import pandas as pd
l={"sno":[789,790,791],"names":["siri",'anu','priya'],"marks":[90,91,92]}
s=pd.DataFrame(l)
s

   sno  names  marks
0  789   siri     90
1  790    anu     91
2  791  priya     92

In [74]:
s.loc[[1]]

   sno names  marks
1  790   anu     91

In [72]:
s.loc[0]

sno       789
names    siri
marks      90
Name: 0, dtype: object

In [82]:
df={"s.no":[11,12,13,14,15,16,17,18,19,20],"name":["a",'b','c','d','e','f','g','h','i','j']}
s=pd.DataFrame(df)
s

   s.no name
0    11    a
1    12    b
2    13    c
3    14    d
4    15    e
5    16    f
6    17    g
7    18    h
8    19    i
9    20    j

In [80]:
s.loc[[5,6,7]]

   s.no name
5    16    f
6    17    g
7    18    h

In [85]:
df={"name":["a",'b','c','d','e','f','g','h','i','j'],"marks":[11,12,13,14,15,16,17,18,19,20]}
s=pd.DataFrame(df)
s

  name  marks
0    a     11
1    b     12
2    c     13
3    d     14
4    e     15
5    f     16
6    g     17
7    h     18
8    i     19
9    j     20

In [84]:
s.loc[5:7]

   s.no name
5    16    f
6    17    g
7    18    h

In [97]:
d1=s.loc[s.marks>=15]
d1

  name  marks
4    e     15
5    f     16
6    g     17
7    h     18
8    i     19
9    j     20

In [99]:
d1=s.loc[(s.marks<=15) & (s.name=="b")] 
d1

  name  marks
1    b     12

In [101]:
s[['name','marks']][s['marks']<15]

  name  marks
0    a     11
1    b     12
2    c     13
3    d     14