In [4]:
import pandas as pd

In [5]:
li=[3,4,5,6]
s=pd.Series(li, index=['a','b','c','d'])

In [7]:
s[1]

4

In [8]:
s['a']

3

In [12]:
d={"name":["sirisha"],
   'role':["software developer"],
   'location':["mysore"]}

In [13]:
df=pd.Series(d)
df

name                   [sirisha]
role        [software developer]
location                [mysore]
dtype: object

In [14]:
df[1]

['software developer']

In [17]:
ds=pd.DataFrame(d)
ds

      name                role location
0  sirisha  software developer   mysore

In [18]:
square=lambda n:n*n

In [19]:
square(5)

25

In [21]:
def square(n):
    return(n*n)
square(5)

25

In [22]:
even= lambda n:print(True) if(n%2==0) else print(False)

In [23]:
even(21)

False

In [24]:
l=["1","2","3","4"]
l=[int(value) for value in l]

In [25]:
l

[1, 2, 3, 4]

In [26]:
l=["1","2","3","4"]
l=[int(value)*int(value) for value in l] ##list comprehension

In [27]:
l

[1, 4, 9, 16]

In [ ]:
li=[]